.A1{margin: 20px;background-color: #2a5d5a ;width: 1300px;height: 700px;text-align: center;}
.A2{background-color: #311313;color: white; width: 300px;margin: 0 auto;padding: 10px; }
.A3{background-color: black; width: 500px; ;height: 290px ;padding: 50px;margin: 0 auto;border: red solid 10px;}
.A5{background-color: #1FE8B7; padding: 30px;}

